@import "~@theme";

.endpoint-demo {
    display: inline-block;
    text-align: center;
    background: $primaryColor;

    .card {
        width: 250px; /* TODO: Scale this across device sizes */
        display: inline-block;
        margin: 20px;
        background: white;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: transform 0.1s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    .output-card {
        min-height: 200px;
        background: white;
        margin: 40px 80px;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
        transition: min-height 0.1s ease-in-out, transform 0.5s ease-in-out;

        h3, h4, h5 {
            margin: 0px;
        }

        &-body {
            padding: 50px 20px;
        }

        &-footer .tags {
            width: 100%;
            padding: 0px 20px;
        }

        &.loading {
            transform: rotateY(90deg);
        }
    }

    .tags {
        display: inline-block;

        .tag {
            width: fit-content;
            padding: 10px;
            margin: 10px 10px 0px 0px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            float: left;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
            cursor: pointer;

            &:hover {
                background: rgba(0, 0, 0, 0.1);
                transform: scale(1.05);
            }
        }
    }
}
